<% if defined?(object) && object && object.errors.any? %>
  <div class="flash alert">
    <ul class="m-0 pl-18 text-left" aria-live="polite">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
