<% if object.errors.any? %>
  <div class="flash alert" style="display:block;">
    <ul style="margin:0; padding-left:18px; text-align:left;">
      <% object.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  </div>
<% end %>
