<p>To: <%= @resource.email %></p>
<p>パスワード再設定のリクエストを受け付けました。<br>
以下のリンクから <strong>10 分以内</strong> にパスワードを再設定してください。</p>
<p><a href="<%= edit_password_url(@resource, reset_password_token: @token) %>">
パスワードを再設定する
</a></p>
<p>このメールに心当たりがない場合は、本メールを破棄してください。</p>